<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tk.mybatis.simple.mapper.CountryMapper">
    <resultMap id="countryMapper" type="Country">
        <id property="id" column="country_id"/>
        <result property="name" column="country_name"/>
        <result property="code" column="country_code"/>
    </resultMap>
    <select id="selectAll" resultMap="countryMapper">
        SELECT country_id, country_name, country_code
        FROM t_country;
    </select>
</mapper>
