<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tk.mybatis.simple.mapper.PrivilegeMapper">
    <resultMap id="privilegeMap" type="tk.mybatis.simple.model.SysPrivilege">
        <id property="id" column="sys_privilege_id"/>
        <result property="name" column="privilege_name"/>
        <result property="url" column="privilege_url"/>
    </resultMap>
    <select id="selectPrivilegeByRoleId" resultMap="privilegeMap">
        SELECT p.*
        FROM t_sys_privilege p
                 JOIN t_sys_role_privilege rp ON rp.sys_privilege_id = p.sys_privilege_id
        WHERE rp.sys_role_id = #{roleId};
    </select>
</mapper>
