<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tk.mybatis.simple.mapper.UserMapper">
    <resultMap id="userMap" type="tk.mybatis.simple.model.SysUser">
        <id property="id" column="sys_user_id"/>
        <result property="username" column="user_name"/>
        <result property="password" column="user_password"/>
        <result property="email" column="user_email"/>
        <result property="info" column="user_info"/>
        <result property="headImg" column="head_img" jdbcType="BLOB"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="selectById" resultMap="userMap">
        SELECT *
        FROM t_sys_user
        WHERE sys_user_id = #{id};
    </select>
    <select id="selectAll" resultType="tk.mybatis.simple.model.SysUser">
        SELECT sys_user_id   id,
               user_name     username,
               user_password password,
               user_email    email,
               user_info     info,
               head_img      headImg,
               create_time   createTime
        FROM t_sys_user;
    </select>
    <select id="selectRolesByUserId" resultType="tk.mybatis.simple.model.SysRole">
        SELECT r.sys_role_id id,
               r.role_name   name,
               r.enabled     enabled,
               r.create_by   createBy,
               r.create_time createTime,
               u.user_name   `user.username`,
               u.user_email  `user.email`
        FROM t_sys_user u
                 JOIN t_sys_user_role ur ON u.sys_user_id = ur.sys_user_id
                 JOIN t_sys_role r ON ur.sys_role_id = r.sys_role_id
        WHERE u.sys_user_id = #{userId};
    </select>
</mapper>
